In [1]:
# Manipulando linhas de dataframes pandas
# https://www.youtube.com/watch?v=-22JkOmJeSI&list=PLyqOvdQmGdTR46HUxDA6Ymv4DGsIjvTQ-&index=15

In [13]:
import pandas as pd
# criando nosso proprio data frame.
alunosDIC = {'Nome':['Rafael', 'Robert', 'Roger', 'Pedro'], # dicionário alunos
         'Nota':[8, 7, 3, 1],
         'Aprovado':['Sim', 'Sim', 'Não', 'Não']}

In [14]:
# transformando dicionário em data frame
alunosDF = pd.DataFrame(alunosDIC)

In [15]:
print(alunosDF)

     Nome  Nota Aprovado
0  Rafael     8      Sim
1  Robert     7      Sim
2   Roger     3      Não
3   Pedro     1      Não

In [9]:
primeiras_linhas = alunosDF.loc[0:2]

In [10]:
primeiras_linhas

     Nome  Nota Aprovado
0  Rafael     8      Sim
1  Robert     7      Sim
2   Roger     3      Não

In [20]:
novoDF = alunosDF.loc[alunosDF['Nota']!=1]

In [21]:
novoDF

     Nome  Nota Aprovado
0  Rafael     8      Sim
1  Robert     7      Sim
2   Roger     3      Não

In [25]:
alunosReprovados = alunosDF.loc[alunosDF['Aprovado']=='Não']

In [26]:
alunosReprovados

    Nome  Nota Aprovado
2  Roger     3      Não
3  Pedro     1      Não