In [2]:
# Como lidar com dados faltantes (NaN) em um Dataset
# https://www.youtube.com/watch?v=k1zi4EwIXoc&list=PLyqOvdQmGdTR46HUxDA6Ymv4DGsIjvTQ-&index=22
tt = 'Como lidar com dados faltantes (NaN) em um Dataset'
tt2 = tt.replace(' ','-')
tt2

'Como-lidar-com-dados-faltantes-(NaN)-em-um-Dataset'

In [4]:
import pandas as pd
caminho = "C:/Users/garci/PycharmProjects/Python-projetos-Disco-C-PyCharm/Projetos-Jupyter/Did√°ticaTech/Curso Python para machine learning/dados/aula11_athlete_events.csv"
dados = pd.read_csv(caminho)

In [6]:
dados.head(3)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

In [7]:
dados2 = dados.dropna() # exclui as linhas que tenham dados faltantes

In [10]:
dados2.head(3)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold

In [12]:
dados.shape

(271116, 15)

In [13]:
dados2.shape

(30181, 15)

In [18]:
enulo = dados.isnull() # isnull: identifica onde tem dados faltantes. True se for faltante e False se n√£o for.

In [ ]:
enulo.head()

In [21]:
faltantes = dados.isnull().sum() # sum():  soma os valores que der True(faltantes)

In [23]:
faltantes

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [29]:
# len(dados['ID']) : medindo o tamanho do meu dataset.

faltantes_percentual = (dados.isnull().sum()) / len(dados['ID'])*100
# dividindo o total de dados faltante pelo total de dados.

In [31]:
faltantes_percentual

ID         0.000000
Name       0.000000
Sex        0.000000
Age        3.494445
Height    22.193821
Weight    23.191180
Team       0.000000
NOC        0.000000
Games      0.000000
Year       0.000000
Season     0.000000
City       0.000000
Sport      0.000000
Event      0.000000
Medal     85.326207
dtype: float64

In [33]:
# Substituir os dados faltantes por alguma coisa.
# inplace=True : ficar na mesma linha sem executar

dados['Medal'].fillna('Nenhuma', inplace=True) # fillna: preencher os dados faltantes da coluna Medal, por string 'Nenhuma'
dados['Age'].fillna(dados['Age'].mean() , inplace=True) # onde tiver NaN na coluna Age, substitui pela m√©dia das idades.
dados['Height'].fillna(dados['Height'].mean() , inplace=True) # onde tiver NaN na coluna Height, substitui pela m√©dia das alturas.
dados['Weight'].fillna(dados['Weight'].mean() , inplace=True) # onde tiver NaN na coluna Weight, substitui pela m√©dia dos pesos.

dados.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.00000,80.000000,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,Nenhuma
1,2,A Lamusi,M,23.0,170.00000,60.000000,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,Nenhuma
2,3,Gunnar Nielsen Aaby,M,24.0,175.33897,70.702393,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,Nenhuma
3,4,Edgar Lindenau Aabye,M,34.0,175.33897,70.702393,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.00000,82.000000,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,Nenhuma
5,5,Christine Jacoba Aaftink,F,21.0,185.00000,82.000000,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",Nenhuma
6,5,Christine Jacoba Aaftink,F,25.0,185.00000,82.000000,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,Nenhuma
7,5,Christine Jacoba Aaftink,F,25.0,185.00000,82.000000,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",Nenhuma
8,5,Christine Jacoba Aaftink,F,27.0,185.00000,82.000000,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,Nenhuma
9,5,Christine Jacoba Aaftink,F,27.0,185.00000,82.000000,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",Nenhuma

In [34]:
dados.shape

(271116, 15)

In [36]:
# N√£o existe mais dados faltantes

faltantes_percentual = (dados.isnull().sum()) / len(dados['ID'])*100
# dividindo o total de dados faltante pelo total de dados.
faltantes_percentual

ID        0.0
Name      0.0
Sex       0.0
Age       0.0
Height    0.0
Weight    0.0
Team      0.0
NOC       0.0
Games     0.0
Year      0.0
Season    0.0
City      0.0
Sport     0.0
Event     0.0
Medal     0.0
dtype: float64