In [2]:
# Seu primeiro código de Machine Learning com Python!
# https://www.youtube.com/watch?v=DNegkxwQJuY&list=PLyqOvdQmGdTR46HUxDA6Ymv4DGsIjvTQ-&index=24
tt = 'Seu primeiro código de Machine Learning com Python!'
tt2 = tt.replace(' ','-')
tt2

# Classificar se um vinho é branco ou tinto

'Seu-primeiro-código-de-Machine-Learning-com-Python!'

In [3]:
import pandas as pd
caminho = "C:/Users/garci/PycharmProjects/Python-projetos-Disco-C-PyCharm/Projetos-Jupyter/DidáticaTech/Curso Python para machine learning/dados/aula24_wine_dataset.csv"
dados = pd.read_csv(caminho)

In [8]:
dados.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

### Preparando os dados

In [7]:
# transformando os dados da coluna style(string) para valor numerico(0 e 1)
dados['style'] = dados['style'].replace('red',0)
dados['style'] = dados['style'].replace('white',1)

In [11]:
# Separando as variáveis entre preditora(treino) e varivável alvo/teste.
y = dados['style'] # pega somente a coluna style(alvo/teste).
x = dados.drop('style', axis = 1) # axis = 1: excluindo a coluna style(treino).

In [13]:
from sklearn.model_selection import train_test_split

# Criando os conjuntos de dados de treino e teste:

# train_test_split: método para testar.
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

# dados de entrada, var. x, var. alvo y, 30% para teste e 70% para treinar.

### Algoritmo de Machine Learning

In [18]:
# ExtraTreesClassifier: Algoritmo de Machine Learning(árvore de decisão).

from sklearn.ensemble import ExtraTreesClassifier
# Criação do modelo:

# modelo ira receber a função ExtraTreesClassifier().
modelo = ExtraTreesClassifier()

# Aplicar o algoritmo aos dados(x_treino e y_treino). Aprendeu a relação dos dados.
modelo.fit(x_treino, y_treino)

# Imprimindo resultado:

# Função score: Ira pegar o conjunto de dados de teste(x_teste) e comparar com o conjunto de dados corretos(y_teste)
resultado = modelo.score(x_teste, y_teste)
print('Acurácia: ', resultado)

Acurácia:  0.9958974358974358

In [19]:
y_teste [400:403] # Valor verdadeiro

5955    1
1760    1
5106    1
Name: style, dtype: int64

In [20]:
x_teste[400:403] # Não treino

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
5955,6.2,0.29,0.29,5.6,0.046,35.0,178.0,0.99313,3.25,0.51,10.533333,5
1760,6.4,0.22,0.56,14.5,0.055,27.0,159.0,0.99800,2.98,0.40,9.100000,5
5106,7.1,0.36,0.28,2.4,0.036,35.0,115.0,0.98936,3.19,0.44,13.500000,7

In [21]:
# Pega o modelo que foi treinado e faz uma previsão

previsoes = modelo.predict(x_teste[400:403])

In [22]:
previsoes # Valor da previsão.

array([1, 1, 1], dtype=int64)