In [1]:
# Aprenda comandos úteis no Pandas
# https://www.youtube.com/watch?v=hp-FGSKVPy4&list=PLyqOvdQmGdTR46HUxDA6Ymv4DGsIjvTQ-&index=13

In [2]:
import pandas as pd
# criando nosso proprio data frame.
alunosDIS = {'Nome':['Rafael', 'Robert', 'Roger', 'Pedro'], # dicionário alunos
         'Nota':[8, 7, 3, 1],
         'Aprovado':['Sim', 'Sim', 'Não', 'Não']}

In [3]:
# transformando dicionário em data frame
alunosDF = pd.DataFrame(alunosDIS)

In [4]:
print(alunosDF)

     Nome  Nota Aprovado
0  Rafael     8      Sim
1  Robert     7      Sim
2   Roger     3      Não
3   Pedro     1      Não

In [5]:
alunosDF.head()

     Nome  Nota Aprovado
0  Rafael     8      Sim
1  Robert     7      Sim
2   Roger     3      Não
3   Pedro     1      Não

In [7]:
alunosDF.shape # tamanho do DataFrame(linhas e colunas)

(4, 3)

In [8]:
alunosDF.describe() # descrever o DataFrame(algumas informações)

           Nota
count  4.000000
mean   4.750000
std    3.304038
min    1.000000
25%    2.500000
50%    5.000000
75%    7.250000
max    8.000000