In [1]:
# Machine Learning: Tutorial prático usando apenas o navegador (é sensacional!!!)
# https://www.youtube.com/watch?v=JyGGMyR3x5I&list=PLMdYygf53DP7YZiFUtGTWJJlvynRyrna-&index=4
tt = 'Machine Learning: Tutorial prático usando apenas o navegador (é sensacional!!!)-exe-2'
tt2 = tt.replace(' ','-')
tt2
# Dos 19:40 Minutos para frente

# Busca: Outra uri de dados
# https://github.com/guilhermesilveira/machine-learning/blob/master/capitulo10/buscas.csv

'Machine-Learning:-Tutorial-prático-usando-apenas-o-navegador-(é-sensacional!!!)-exe-2'

In [2]:
# Se alguma pessoa acessou alguma página, sera que ela ira comprar ou não.
# Sendo 1 que entrou na página e 0 que não entrou na página.
# Páginas: home, como_funciona, contato, comprou.

In [3]:
import pandas as pd

uri = 'C:/Users/garci/PycharmProjects/Python-projetos-Disco-C-PyCharm/Projetos-Jupyter/Filipe Deschamps-Alura/dados/1-vid-4.xlsx'
dados = pd.read_excel(uri)

In [4]:
dados.head()

   home  como_funciona  contato  comprou
0     1              1        0        0
1     1              1        0        0
2     1              1        0        0
3     1              1        0        0
4     1              1        0        0

In [5]:
dados.sample(5) # 5 amostras aleatórias

    home  como_funciona  contato  comprou
8      1              1        0        0
85     1              1        0        0
31     1              0        1        1
44     0              0        1        0
35     1              0        1        1

In [6]:
# x(treino) = home, como_funciona, contato
# y(devolver) = comprou

In [7]:
x = dados[['home', 'como_funciona', 'contato']]
x.head()

   home  como_funciona  contato
0     1              1        0
1     1              1        0
2     1              1        0
3     1              1        0
4     1              1        0

In [8]:
y = dados[['comprou']]
y.head()

   comprou
0        0
1        0
2        0
3        0
4        0

In [9]:
# Treinar o algoritmo

from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(x, y)

C:\Users\garci\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [10]:

# Verificar a taxa de acerto com a acurácia
from sklearn.metrics import accuracy_score

previsoes = modelo.predict(x)
accuracy_score(y, previsoes) * 100 # comparo as previsoes com y

96.96969696969697

####  Código acima: Ter o cuidado de não fazer o algoritmo decorar no lugar de aprender, pois se ele treinou com o mesmo dado de teste, bem provavel que ele(algoritmo) estaja decorando/viciado

In [11]:
# Separar o treino e teste
from sklearn.model_selection import train_test_split

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y) # por padrão, o teste pega 25%

# train_test_split devolve 4 valores

In [12]:
# Treinar o algoritmo

from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

C:\Users\garci\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [13]:
# Verificar a taxa de acerto com a acurácia
from sklearn.metrics import accuracy_score

previsoes = modelo.predict(teste_x)
accuracy_score(teste_y, previsoes) * 100 # comparo as previsoes com y. Testo com o teste_x e comparo com o teste_y.

96.0